@use "../tools/mixins";

/*-------------------------------------------------------
Section "Services"
-------------------------------------------------------*/
.section--services {

	.section__header {
		row-gap: 0.25rem;
	}

	.services-list {

		&__item {

			> * {

				@include mixins.media("break-medium", max) {
					grid-column: span 2;
				}
			}
		}
	}

	.item {

		&__title {
			position: relative;
			left: -0.2vw;
		}

		&__separator {
			margin-left: 0;
		}
	}
}
