@use "../tools/mixins";

/*-------------------------------------------------------
Header
-------------------------------------------------------*/
.header--default {

	> .wp-block-group.is-layout-grid {

		@include mixins.media("break-large", max) {
			grid-template-columns: repeat(2, minmax(0, auto));
		}
	}

	.wp-block-navigation {

		&.items-justified-right {
			--navigation-layout-justification-setting: center;
			--navigation-layout-justify: center;
		}

		.wp-block-navigation__container {
			flex-grow: 1;

			> .wp-block-navigation-item {

				&:nth-last-child(1 of .wp-block-navigation-item) {

					@include mixins.media("break-large") {
						margin-left: auto;
					}
				}
			}
		}

		&__submenu-container {

			.wp-block-navigation-item__content {
				line-height: var(--wp--custom--typography--line-height--small, inherit);
			}
		}
	}

	// Header with contrast links
	&.has-contrast-links {
		color: var(--wp--preset--color--base);

		a {
			color: var(--wp--preset--color--base);
		}
	}

	// Header with white links
	&.has-white-links {
		color: rgb(255, 255, 255);

		a {
			color: rgb(255, 255, 255);
		}
	}
}

/*-------------------------------------------------------
Fixed header
-------------------------------------------------------*/
.header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;

	body.admin-bar & {
		top: 46px;

		@media only screen and (min-width: 783px) {
			top: 32px;
		}
	}
}
