@use "../tools/mixins";

/*-------------------------------------------------------
Header
-------------------------------------------------------*/

.header--default {

	> .wp-block-group {

		@include mixins.media("break-large", max) {
			grid-template-columns: repeat(2, minmax(0, auto));
		}
	}

	.wp-block-navigation {

		&.items-justified-right {
			--navigation-layout-justification-setting: center;
			--navigation-layout-justify: center;
		}

		.wp-block-navigation__container {
			flex-grow: 1;

			> .wp-block-navigation-item {

				&:nth-last-child(1 of .wp-block-navigation-item) {

					@include mixins.media("break-large") {
						margin-left: auto;
					}
				}
			}
		}
	}
}
