/*-------------------------------------------------------
Section "Services"
-------------------------------------------------------*/
.section--services {

	.services-list {

		&__item {
			--services-line-scale: 0;

			&::after {
				transform: scaleY( var( --services-line-scale ) );
				transform-origin: top center;
			}
		}
	}
}
